<form>
    {{ log object }}

    <div class="form-group">
        <label>{{ localize "COMBAT.CombatantToken" }}</label>
        <div class="form-fields">
            <input type="text" name="tokenName" value="{{ object.token.name }}" disabled/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "COMBAT.CombatantName" }}</label>
        <div class="form-fields">
            <input type="text" name="name" value="{{ object.name }}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "COMBAT.CombatantImage" }}</label>
        <div class="form-fields">
            {{filePicker target="img" type="image"}}
            <input class="image" type="text" name="img" placeholder="path/image.png" value="{{object.img}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "COMBAT.CombatantInitiative" }}</label>
        <div class="form-fields">
            <input type="number" name="initiative" value="{{ object.initiative }}" step="any"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "INSECTOPIA.COMBAT.InitiativeRed" }}</label>
        <div class="form-fields">
            <input type="number" name="flags.initRed" value="{{ object.flags.initRed }}" step="any"/>
        </div>
        <label>{{ localize "INSECTOPIA.COMBAT.InitiativeGreen" }}</label>
        <div class="form-fields">
            <input type="number" name="flags.initGreen" value="{{ object.flags.initGreen }}" step="any"/>
        </div>
        <label>{{ localize "INSECTOPIA.COMBAT.InitiativeBlue" }}</label>
        <div class="form-fields">
            <input type="number" name="flags.initBlue" value="{{ object.flags.initBlue }}" step="any"/>
        </div>
        <label>{{ localize "INSECTOPIA.COMBAT.InitiativeWhite" }}</label>
        <div class="form-fields">
            <input type="number" name="flags.initWhite" value="{{ object.flags.initWhite }}" step="any"/>
        </div>
        <label>{{ localize "INSECTOPIA.COMBAT.InitiativeBlack" }}</label>
        <div class="form-fields">
            <input type="number" name="flags.initBlack" value="{{ object.flags.initBlack }}" step="any"/>
        </div>
    </div>

    <div class="form-group">
        <label>Status</label>
        <div class="form-fields">
            <label class="checkbox">
                <input type="checkbox" name="hidden" {{ checked object.hidden }}/>
                {{ localize "COMBAT.CombatantHidden" }}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="defeated" {{ checked object.defeated }}/>
                {{ localize "COMBAT.CombatantDefeated" }}
            </label>
        </div>
    </div>

    <footer>
        <button type="submit" title="{{ title }}">
            <i class="fas fa-save"></i> {{ title }}
        </button>
    </footer>
</form>