.initiative-color {
    width: 28px;
    height: 24px;
}

input.initiativeRed {
    background: red;
    height: 20px;
    text-align: center;
}

input.initiativeGreen {
    background: green;
    height: 20px;
    text-align: center;
}

input.initiativeBlue {
    background: blue;
    color: white;
    height: 20px;
    text-align: center;
}

input.initiativeWhite {
    background: white;
    height: 20px;
    text-align: center;
}

input.initiativeBlack {
    background: black;
    color: white;
    height: 20px;
    text-align: center;
}